<configuration>

	<appender name="file" class="ch.qos.logback.core.FileAppender">
		<file>${user.home}/openrtp.log</file>
		<append>true</append>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<root level="trace">
		<appender-ref ref="stdout" />
		<appender-ref ref="file" />
	</root>

</configuration>
